/*CSS STYLE SHEET*/

		
       body{
       			background-color:   rgb(249, 216, 0);
       			background-image: url("images/AllBlacks.gif");
    			background-repeat: repeat-y;
       }

		/* Page title */
		
         h1 {
         	 font-family: 'Lobster', cursive; 
         	 color: #AE0E03;
			 font-weight: bold;
             text-align: center;
             font-style: italic;
             font-size: 40px;
             text-shadow: 4px 4px 4px #aeaeae;
             width: 875px;
             margin-left: -22%;
            
         }

				/* Page Title */
				
        h2{
        	font-family: Arial, veranda, serif;
            font-size: 15px;
            font-weight: bolder;
            text-align:center;
        }
       
       /*       Section titles          */ 
        
        h3,h4,h5 {font-family: Arial,veranda,sans-serif;
                     font-size: 22px;
                     font-weight: bold;
                     margin-bottom: 5px;
                     text-decoration: underline;
                     text-align: center;
        }
        
        /*     All information and icons      */
        
       p { 
            background-image: url("./images/rugby_ball.gif");
    background-repeat: no-repeat;
text-align: justify;
text-indent: 2.188em;
font-family: Roboto, sans-serif;
font-weight: bolder;
width: 43.750em;
margin-bottom: 2.8%;
margin-left: -8%;
    padding-bottom: 1.688em;
            
       }
       
       /*   White box, background, and drop shadow   */
       
      div {
      
            margin-left: auto;
			margin-right: auto;
			border: .125em solid #000000;
			padding: 0.625em 9.375em;
			width: 37.500em;
			border-radius: 0.313em;
			background:#fff;
			box-shadow: 10px 10px 5px #bababa;
			
       }
       
       
/*    Images and links     */
       
      
       ol {text-align: left;
           width: 650px;
           margin-left: -9.5%;
           margin-bottom: 3.3%;

       }
        a:link {
            color: #ff0e07;
            text-decoration: none;
        }
        a:visited {
            color: #0f1fd0;
            text-decoration: none;
        }
        a:hover{
            color: #8b0000;
            text-decoration: underline;
        }
        a:active{
            color: #14d7b0;
        }
