/*CSS STYLE SHEET*/

		
       body{background-color:   rgb(249, 216, 0);
       }

		/* Page title */
		
         h1 {
         	 font-family: 'Lobster', cursive; 
			 font-weight: bold;
             text-align: left;
             font-size: 40px;
             text-shadow: 4px 4px 4px #aeaeae;
             width: 850px;
             margin-left: -20%;
         }

				/* Page Title */
				
        h2{
        	font-family: Arial, veranda, serif;
            font-size: 22px;
            font-weight: bolder;
        }
       
       /*       Section titles          */ 
        
        h3,h4,h5 {font-family: Arial,veranda,sans-serif;
                     font-size: 22px;
                     font-weight: bold;
                     margin-bottom: 5px;
                     text-decoration: underline;
                     text-align: center;
        }
        
        /*     All information      */
        
       p { 
           text-align: left;
           font-family: Roboto, sans-serif;
           font-weight: bolder;
           width: 700px;
           margin-bottom: 2.8%;
           margin-left: -8%;
       }
       
       /*   White box, background, and drop shadow   */
       
      div {
            margin-left: 18.5%;
            border: 2px solid #000000;
            padding: 10px 150px;
            width: 600px;
            border-radius: 5px;
            background: #ffffff
            margin-left: 260px;
			box-shadow: 10px 10px 5px #bababa
       }
       
       
/*    Images and links     */
       
      
       ol {text-align: left;
           width: 650px;
           margin-left: -9.5%;
           margin-bottom: 3.3%;

       }
        a:link {
            color: #ee82ee;
            text-decoration: none;
        }
        a:visited {
            color: #0f1fd0;
            text-decoration: none;
        }
        a:hover{
            color: #8b0000;
            text-decoration: underline;
        }
        a:active{
            color: #14d7b0;
        }
